* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato";
}
.container {
  background-color: rgba(0, 0, 0, 0.582);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-data {
  padding-right: 90px;
}
p[data-testid="slackUserName"] {
  flex-direction: column;
  font-size: large;
  font-weight: 200;
}
.profile-image img[data-testid="slackDisplayImage"] {
  flex-direction: column;
  border-radius: 23px;
  width: 250px;
  height: 350px;
}
